.main {
    padding: 20px;
    background-color: #fff;
}

/* Phần tiêu đề trên cùng */
.headerSection {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.developmentOrg {
    text-align: center;
}

.logoContainer {
    margin: 18px 0
}

/* Phần tiêu đề chính */
.mainFunctions {
    text-align: center;
    margin-bottom: 50px;
}

.mainFunctions h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #2F327D;
}

.highlight {
    color: #F48C06;
    /* Màu cam/ vàng tùy chỉnh cho chữ "Your Voice." */
}

.subTitle {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
    padding: 8px 0 64px 0;
}

/* Phần 3 khối chức năng */
.featuresContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 64px;
    max-width: 1200px;
    margin: 0 auto;

}

.featureBox {
    position: relative;
    background-color: white;
    padding: 64px 32px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 60px 0 rgba(38, 45, 118, 0.08);
}

.featureBox h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #274F9D;
    margin-bottom: 32px
}

.featureBox p {
    font-size: 14px;
    color: #777;
    line-height: 1.5;
}

/* Style cho vòng tròn icon */
.iconCircle,
.iconCircleOrange,
.iconCircleBlue {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Các màu icon nền khác nhau */
.iconCircle {
    background-color: #5B72EE;
    /* Xanh lam đậm cho icon đầu */
}

.iconCircleOrange {
    background-color: #F48C06;
    /* Màu cam cho icon giữa */
}

.iconCircleBlue {
    background-color: #29B9E7;
    /* Xanh dương nhạt cho icon cuối */
}